.blog {
  position: relative;
}

.blog-input {
  display: none;
}

.blogbar {
  height: 56px;
  position: fixed;
  top: 108px;
  left: 0;
  right: 0;
  z-index: 7;
}

.blogbar .blogmenu-label {
  height: 28px;
  display: none;
}

.blogMenu {
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.blogMenulist {
  width: 40%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blogMenulist .blogMenu-a {
  font-size: 20px;
}

.searchbox {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blogMain {
  padding-top: 144px;
  padding-bottom: 156px;
}

.blogMainlist-list {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px;
}

.blogMainlist-list .blogMainlist-img {
  width: 588px;
}

.blogMainlist-list .blogMainlist-txt {
  width: 588px;
}

.blogMainlist-title .blogMainlist-h2 {
  font-size: 32px;
}

.blogMainlist-title .blockMainlist-smallbox {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blogMainlist-title .blockMainlist-smallbox .blogMainlist-smalltitle {
  font-size: 20px;
}

.blogMainlist-title .blockMainlist-smallbox .blogMainlist-date {
  font-size: 16px;
}

.blogMainlist-pbox {
  margin-top: 40px;
}

.blogMainlist-pbox .blogMainlist-p {
  font-size: 20px;
  color: #555555;
}

.blogMainlist-pbox .blogMainlist-p .blogMainlist-p-span {
  display: none;
}

.blogMainlist-pbox .blogMainlist-MoreBtn {
  display: block;
  margin-top: 32px;
}

.blogMainlist-pbox .blogMainlist-MoreBtn-a {
  font-size: 36px;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.blogMainlist-pbox .blogMainlist-MoreBtn-a i {
  margin-left: 8px;
}

.blogMainlist-pbox .blogMainlist-MoreBtn-a::after {
  content: "";
}

.pageList {
  margin: 0 auto;
  width: 30%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pageList .pageList-list {
  text-align: center;
  height: 48px;
  line-height: 48px;
  border: 0.5px solid #555555;
}

.pageList .peve, .pageList .next {
  width: 81px;
}

.pageList .page {
  width: 41px;
}

@media screen and (max-width: 992px) {
  .blogMenu {
    width: 87.5%;
  }
  .blogMenu .blogMenulist {
    width: 60%;
  }
  .blogMain {
    width: 87.5%;
    padding-top: 94px;
    padding-bottom: 104px;
  }
  .blogMainlist-list {
    margin-bottom: 32px;
  }
  .blogMainlist-list .blogMainlist-img {
    width: 48%;
  }
  .blogMainlist-list .blogMainlist-txt {
    width: 48%;
  }
  .blogMainlist-title .blogMainlist-h2 {
    font-size: 20px;
  }
  .blogMainlist-title .blockMainlist-smallbox .blogMainlist-smalltitle {
    font-size: 16px;
  }
  .blogMainlist-title .blockMainlist-smallbox .blogMainlist-date {
    font-size: 14px;
  }
  .blogMainlist-pbox {
    margin-top: 16px;
  }
  .blogMainlist-pbox .blogMainlist-p {
    font-size: 14px;
    color: #555555;
  }
  .blogMainlist-pbox .blogMainlist-p .blogMainlist-p-span {
    display: inline;
  }
  .blogMainlist-pbox .blogMainlist-MoreBtn {
    display: none;
  }
  .pageList {
    width: 50%;
  }
}

@media screen and (max-width: 767px) {
  .blogbar {
    height: 0;
    top: 50px;
    background-color: #fff;
  }
  .blogbar .blogmenu-label {
    border: 1px solid #000000;
    display: block;
    width: 100%;
    position: absolute;
    bottom: -28px;
    left: 0;
    z-index: 5;
  }
  .blogbar .blogmenu-label img {
    margin: 0 auto;
  }
  .searchbox {
    display: none;
  }
  .blogMenu {
    width: 100%;
  }
  .blogMenu .blogMenulist {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .blogMain {
    padding-top: 52px;
    padding-bottom: 56px;
  }
  .blogMenulist-list {
    width: 100%;
    border: 0.5px solid #00000020;
  }
  .blogMenulist-list .blogMenu-a {
    font-size: 16px;
    display: block;
    height: 50px;
    color: #000000;
    text-align: center;
    line-height: 50px;
  }
  #blogmenu-check:checked ~ .blogbar {
    height: 200px;
  }
  .blogMain {
    width: 93.6%;
  }
  .blogMainlist-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 24px;
  }
  .blogMainlist-list .blogMainlist-img {
    width: 100%;
  }
  .blogMainlist-list .blogMainlist-txt {
    width: 100%;
  }
  .blogMainlist-title .blogMainlist-h2 {
    font-size: 16px;
  }
  .blogMainlist-title .blockMainlist-smallbox .blogMainlist-smalltitle {
    font-size: 14px;
  }
  .blogMainlist-pbox {
    display: none;
  }
  .pageList {
    width: 90%;
    font-size: 14px;
  }
}
