.FrameButtonList-list {
  width: 400px;
  height: 103px;
  text-align: center;
  border-bottom: 16px solid #fff;
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.FrameButtonList-list img {
  width: 42px;
}

.FrameButtonList-list .txt-box {
  font-size: 42px;
  margin-left: 8px;
}

.opticalTxt::before {
  content: "";
}

.FrameButtonimgList {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.FrameButtonimg-list {
  width: 948px;
}

.FrameButtonimg-list .FrameButton-img {
  height: 309px;
}

.titleBox-h2 {
  font-size: 42px;
}

.Frameproduct-p {
  font-size: 32px;
  text-align: center;
}

.FrameMainlist {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.FrameMainlist .FrameMainlist-list {
  width: 23.5%;
  margin-bottom: 104px;
}

.FrameMainlist-txt-list {
  font-size: 24px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.FrameMainlist-txt-list .moneytitle {
  font-weight: bold;
}

.FrameMainlist-color-list .colorBox {
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 5px;
}

.FrameMainlist-color-list .color1 {
  background-color: #5F3E2D;
  margin-right: 8px;
}

.FrameMainlist-color-list .color2 {
  background-color: #B75929;
}

.pageList {
  margin: 0 auto;
  width: 30%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pageList .pageList-list {
  text-align: center;
  height: 48px;
  line-height: 48px;
  border: 0.5px solid #555555;
}

.pageList .peve, .pageList .next {
  width: 81px;
}

.pageList .page {
  width: 41px;
}

.FrameButtonList-list:hover {
  border-bottom-color: #AA0601;
}

@media screen and (max-width: 992px) {
  .FrameButtonList-list {
    width: 33.3333%;
    height: 69px;
    line-height: 69px;
    border-bottom: 8px solid #fff;
  }
  .FrameButtonList-list img {
    width: 32px;
  }
  .FrameButtonList-list .txt-box {
    font-size: 28px;
  }
  .FrameButtonimg-list {
    width: 50%;
  }
  .titleBox-h2 {
    font-size: 32px;
  }
  .Frameproduct-p {
    font-size: 24px;
  }
  .FrameMain {
    width: 87.5%;
  }
  .FrameMainlist .FrameMainlist-list {
    width: 48%;
    margin-bottom: 72px;
  }
  .FrameMainlist img {
    width: 100%;
  }
  .pageList {
    width: 50%;
  }
}

@media screen and (max-width: 767px) {
  .FrameButtonList-list {
    height: 40px;
    line-height: 35px;
    border-bottom: 4px solid #fff;
  }
  .FrameButtonList-list img {
    width: 12px;
  }
  .FrameButtonList-list .txt-box {
    font-size: 14px;
    margin-left: 1px;
  }
  .FrameButtonimg-list .FrameButton-img {
    height: 144px;
  }
  .titleBox-h2 {
    font-size: 24px;
  }
  .Frameproduct-p {
    font-size: 16px;
  }
  .FrameMain {
    width: 93.8%;
  }
  .FrameMainlist .FrameMainlist-list {
    width: 100%;
    margin-bottom: 32px;
  }
  .FrameMainlist img {
    width: 100%;
  }
  .pageList {
    width: 90%;
    font-size: 14px;
  }
}
