.FrameButtonList-list{
    width: 400px;
    height: 87px;
    text-align: center;
    line-height: 87px;
    border-bottom: 16px solid #fff;
    transition: all .3s;
    .txt-box{
        font-size: 42px;
      }
}
.FrameButtonimgList{
    justify-content: space-between;
}
.FrameButtonimg-list{
    width: 948px;
}
.titleBox-h2{
    font-size: 42px;
}
.Frameproduct-p{
    font-size: 32px;
    text-align: center;
}
.FrameMainlist{
    justify-content: space-between;
    flex-wrap: wrap;
    .FrameMainlist-list{
        width: 23.5%;
        margin-bottom: 104px;
    }
}
.FrameMainlist-txt-list{
    font-size: 24px;
    justify-content:space-between;
    .moneytitle{
        font-weight: bold;
    }

}
.FrameMainlist-color-list{
    .colorBox{
        display: block;
        width: 24px;
        height: 24px;
        border-radius: 5px;
    }
    .color1{
        background-color: #5F3E2D;
        margin-right: 8px;
    }
    .color2{
        background-color: #B75929;
    }
}
.pageList{
    margin: 0 auto;
    
    width: 30%;
   
    .pageList-list{
        text-align: center;
        height: 48px;
        line-height: 48px;
        border: 0.5px solid #555555;
    }
    .peve,.next{
        width: 81px;
    }
    .page{
        width: 41px;
    }
}
.FrameButtonList-list:hover{
       border-bottom: 16px solid #AA0601;
}